#signup:hover {
    box-shadow: 2px 2px;
}

#login {
    background-color: #fff;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #6200ee;
    outline: none;
    color: #6200ee;
    text-transform: uppercase;
    width: 80px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}

#signup {
    color: #6200ee;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #6200ee;
    outline: none;
    background-color: #fff;
    text-transform: uppercase;
    width: 80px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}

#login:hover {
    box-shadow: 2px 2px #d9dce0;
}

.submit-button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    outline: none;
    background: #3367d6;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}

.input_n {
    border: none;
    border-bottom: 1px solid #6200ee;
    outline: none;
    width: 50%;
    height: 20px;
    padding: 8px;
}

body {
    font-family: 'Open Sans', sans-serif;
}