#signup:hover {
    box-shadow: 2px 2px
}

#login {
    background-color: #fff;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #6200ee;
    outline: 0;
    color: #6200ee;
    text-transform: uppercase;
    width: 80px;
    height: 30px;
    margin: 10px;
    cursor: pointer
}

.__messages__ {
    height: 20px;
    color: red;
    visibility: hidden
}

#__errs__ {
    color: red;
    visibility: hidden;
    height: 20px;
}

#signup {
    color: #6200ee;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #6200ee;
    outline: 0;
    background-color: #fff;
    text-transform: uppercase;
    width: 80px;
    height: 30px;
    margin: 10px;
    cursor: pointer
}

#login:hover {
    box-shadow: 2px 2px #d9dce0
}

#loading-gif {
    height: 20px;
    display: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.submit-button {
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    border: 0;
    outline: 0;
    background: #3367d6;
    color: white;
    cursor: pointer;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 20px
}

.resbtn {
    background-color: #fff;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #6200ee;
    outline: 0;
    color: #6200ee;
    min-width: 80px;
    margin: 10px;
    cursor: pointer
}

.resbtn:active,
.resbtn:hover {
    box-shadow: 2px 2px #d9dce0;
    background-color: #6200ee;
    color: #fff
}

.result_names {
    margin: 20px;
    color: #000
}

.box-s,
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.input_x {
    border: 0;
    border-bottom: 1px solid #6200ee;
    outline: 0;
    width: 50%;
    height: 20px;
    padding: 8px
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden
}

#chat_wrap {
    bottom: 0;
    height: 100%
}

.chat_box_wrap {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%
}

.chat_box {
    bottom: 0;
    background: #fff;
    border: 1px solid #e3e3e3;
    margin-right: 8px;
    height: 100%
}

.chat_head {
    z-index: 200;
    top: 0;
    transition: .3s ease-in-out;
    border: 2px solid #e3e3e3;
    border-radius: 16px;
    min-height: 10px;
    opacity: 1;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px
}

.chat_body {
    height: 85%;
	background-color:#111;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden
}

.chat_inp_box {
    height: 30px;
    outline: 0;
    padding: 0;
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    width: 100%
}

.chat_inp {
    width: 95%;
    height: 15px;
    outline: 0;
    border: 1px solid #e3e3e3;
    border-radius: 15px;
    z-index: 2;
    position: absolute;
    bottom: 10px;
    display: block;
    padding: 8px
}

.input_n {
    background: 0;
    border: 2px solid #e3e3e3;
    color: #0000008a;
    width: 50%;
    outline: 0;
    padding: 8px;
    border-radius: 10px;
    margin: 5px
}

.menubox {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    font-size: 20px;
    left: 0;
    margin-right: auto
}

.menu-details {
    display: block;
    opacity: 1;
    transition: .3s cubic-bezier(0.71, 0.62, 0.71, 0.61);
    position: absolute;
    bottom: 0;
    height: auto;
    z-index: 20;
    background-color: #e3e3e3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    left: 0;
    width: 98%;
    right: 0;
    margin: auto;
    margin-bottom: -250px;
    padding-top: 10px;
    padding-bottom: 15px
}

.msg_sent {
    background-color: #90f;
    margin-left: auto;
    text-align: right
}

.chat_with {
    margin-right: auto;
    cursor: pointer
}

.msg_recieved {
    background-color: #2cb8ff;
    margin-right: auto
}

.msg {
    margin: 5px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 15px;
    max-width: 45%;
    display: flex;
    padding: 6px;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-word
}

.img-button-holder {
    display: block;
    border-radius: 20px;
    background-color: #55a6ef5c;
    margin-top: 5px;
    transition: .3s ease-in-out;
    padding: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-weight: bold
}

.img-button-holder:hover,
.img-button-holder:active {
    background-color: #4285f4b0
}

#message-info {
    position: absolute;
    height: 50%;
    height: fit-content;
    width: 45%;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s ease-in-out;
    word-break: break-all;
    display: none;
    background: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 15px;
    overflow: hidden
}

.message-info-key {
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: auto;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border: 2px solid #e3e3e3;
    border-radius: 10px;
    transition: .3s ease-in-out
}

.message-info-key:hover,
.message-info-value:hover,
.message-info-key:active,
.message-info-value:active {
    background-color: #4285f4b0
}

.message-close {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-weight: bolder;
    font-size: 19px;
    cursor: pointer
}

.message-info-value {
    display: block;
    margin: auto;
    border: 0;
    text-align: center;
    padding: 0;
    height: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    opacity: 0;
    transition: .3s ease-in-out;
    border-radius: 10px;
    font-weight: bold;
    width: 0
}

.notification-action-button {
    margin-left: 15px;
    font-weight: bold;
    color: #138fd0;
    cursor: pointer
}

.notification-action-box {
    margin-top: 8px
}

.notification-text {
    overflow: hidden;
    word-break: unset
}

.notification-sender {
    font-weight: bolder;
    overflow: hidden
}

.notification-box {
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
    border: 2px solid #e3e3e3;
    border-radius: 20px;
    height: auto;
    min-height: 15px;
    opacity: 1;
    background: #fff;
    width: 95%;
    padding: 15px;
    margin-top: -1000px
}

.notification-reply-bar {
    display: block;
    background-color: #138fd0;
    border: 2px solid #138fd0;
    padding: 5px;
    width: 90%;
    color: #fff;
    outline: 0
}