*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 90%
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

#chat_wrap {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 90%;
}

.chat_box_wrap {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 100%;
}

.chat_box {
    height: 100%;
    width: inherit;
    bottom: 0;
    background: #fff;
    border: 1px solid #e3e3e3;
    margin-right: 8px;
    position: relative;
}

.chat_head {
    height: 30px;
    background: #111;
    color: #fff;
}

.chat_body {
    height: 300px;
    overflow: scroll;
    height: 90%;
    overflow: scroll;
}

.chat_box.minimize {
    height: 30px;
    overflow: hidden;
    bottom: 0;
}

.chat_inp {
    height: 30px;
    outline: none;
    border: 1px solid #e3e3e3;
    width: 100%;
    padding: 0 8px;
}


.input_n {
    background: 0;
    border: 2px solid #e3e3e3;
    color: #0000008a;
    width: 50%;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
}

.submit-button {
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    outline: none;
    background: #3367d6;
    color: white;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}

.result_names {
    margin: 20px;
    color: #000;
}

.box-s {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.resbtn {
    background-color: #fff;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #6200ee;
    outline: 0;
    color: #6200ee;
    min-width: 80px;
    margin: 10px;
    cursor: pointer
}

.resbtn:active,
.resbtn:hover {
    box-shadow: 2px 2px #d9dce0;
    background-color: #6200ee;
    color: #fff
}

.menubox {
    margin: 4px;
    left: 0;
    position: absolute;
    user-select: none;
    cursor: pointer;
}

.menu-details {
    height: 5%;
    display: block;
    opacity: 1;
    transition: 0.5s;
    position: absolute;
    margin-left: -1000px;
}

.msg_sent {
    background-color: #9900ff;
    margin-left: auto;
    text-align: right;
}

.msg_recieved {
    background-color: #2cb8ff;
    margin-right: auto;
}

.msg {
    margin: 5px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 15px;
    max-width: 45%;
    display: block;
    padding: 6px;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-word;
}

.img-button-holder {
    display: inline-block;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #e3e3e3;
}

#message-info {
    position: absolute;
    height: 50%;
    height: fit-content;
    width: 45%;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s ease-in-out;
    word-break: break-all;
    display: none;
    background: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 15px;
    overflow: hidden;
}

.message-info-key {
    display: block;
    user-select: none;
    margin: auto;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border: 2px solid #e3e3e3;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.message-close {
    user-select: none;
    font-weight: bolder;
    font-size: 19px;
    cursor: pointer;
}

.message-info-value {
    display: block;
    margin: auto;
    border: none;
    text-align: center;
    padding: 0px;
    height: 0;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    font-weight: bold;
    width: 0;
}