<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{there}} - Chat</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="/static/cssmin/user.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="chat_id" content="{{chat_id}}">
    <meta name="user_details" data-this="{{here}}" data-that="{{there}}">
    <script src="/static/jsmin/idb.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-messaging.js"></script>
    <link rel="manifest" href="/static/manifest.json">
    <script>
        if (typeof window.Notification == "function") {
            if (typeof firebase === 'undefined') throw new Error(
                "Firebase SDK Not Detected"
            );
            firebase.initializeApp({
                "apiKey": "AIzaSyCrdjBktQNWizVmfjK50I7BGsIQcNFmKcI",
                "databaseURL": "https://webmsg-py.firebaseio.com",
                "storageBucket": "webmsg-py.appspot.com",
                "authDomain": "webmsg-py.firebaseapp.com",
                "messagingSenderId": "193257233140",
                "projectId": "webmsg-py"
            });
        }
    </script>
</head>

<body>
    <div class="box-s">
        <div class="main">
            <div id="results-all"></div>
            <div id='message-info'></div>
        </div>
    </div>
    <script src="/static/jsmin/chat.js"></script>
</body>

</html>