<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>WebMsg</title>
    <link rel="manifest" href="/static/manifest.json">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="integrity" content="{{nonce}}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/cssmin/main.css">
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-messaging.js"></script>
    <script src="/static/jsmin/app.js" async type="module"></script>
</head>

<body>
    <div class="center">
        <div id="app-root"></div>
    </div>
</body>

</html>