<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="{{user}}" id="username_meta" />
    <meta content="{{nonce}}" name="nonce" />
    <title>{{user}} - Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" href="/static/cssmin/user.css">
    <script src="/static/jsmin/idb.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-messaging.js"></script>
    <link rel="manifest" href="/static/manifest.json">
    <script>
        if (!!window.Notification) {
            if (typeof firebase === 'undefined') throw new Error(
                'hosting/init-error: Firebase SDK not detected. You must include it before /__/firebase/init.js'
            );
            firebase.initializeApp({
                "apiKey": "AIzaSyCrdjBktQNWizVmfjK50I7BGsIQcNFmKcI",
                "databaseURL": "https://webmsg-py.firebaseio.com",
                "storageBucket": "webmsg-py.appspot.com",
                "authDomain": "webmsg-py.firebaseapp.com",
                "messagingSenderId": "193257233140",
                "projectId": "webmsg-py"
            });
        }
    </script>
</head>

<body>
    <div class="box-s">
        <div class="main">
            <div id="searchbox">
                <div id="messages" style="height:20px;color: red;visibility:hidden">
                </div>
                <input class="input_n" id="users" placeholder="Search for a User" />
                <button class="submit-button" id="sbm">
                    Search
                </button>
                <div id="errmsgs">
                </div>
            </div>
            <div class="results" id="res">
                <div id="resbox-details" style="margin-top: 20px;">
                    <img id="loading-gif" src="/static/loading.gif" style="height:20px;display: none;user-select: none;" />
                </div>
            </div>
            <div id="results-all">
            </div>
            <div id='prev-chats'></div>
        </div>
    </div>
    <script src="/static/jsmin/users.js"></script>
</body>

</html>